<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">Búsqueda de vehículos</div>
    </div>
    <div class="panel-body">
        <form class="search-form" name="busquedaAutoForm" novalidate>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group" ng-class="{'has-error':busquedaAutoForm.lugarRetiro.$invalid && busquedaAutoForm.$submitted}">
                        <label for="lugarRetiro"> Lugar de Retiro *</label>
                        <input type="text" class="form-control" name="lugarRetiro" ng-model="" required>
                        <p ng-show="busquedaAutoForm.lugarRetiro.$invalid && busquedaAutoForm.$submitted" class="help-block">Debe indicar el lugar de retiro del vehículo.</p>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group" ng-class="{'has-error':busquedaAutoForm.lugarDevolucion.$invalid && busquedaAutoForm.$submitted}">
                        <label for="lugarDevolucion"> Lugar de Devolución *</label>
                        <input type="text" class="form-control" name="lugarDevolucion" ng-model="" required>
                        <p ng-show="busquedaAutoForm.lugarDevolucion.$invalid && busquedaAutoForm.$submitted" class="help-block">Debe indicar el lugar de devolución del vehículo.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group" ng-class="{'has-error':busquedaAutoForm.fechaRetiro.$invalid && busquedaAutoForm.$submitted}">
                        <label for="fechaRetiro"> Fecha de Retiro *</label>
                        <input type="date" class="form-control" name="fechaRetiro" ng-model="" required>
                        <p ng-show="busquedaAutoForm.fechaRetiro.$invalid && busquedaAutoForm.$submitted" class="help-block">Debe indicar la fecha de retiro del vehículo.</p>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group" ng-class="{'has-error':busquedaAutoForm.fechaDevolucion.$invalid && busquedaAutoForm.$submitted}">
                        <label for="fechaDevolucion"> Fecha de Devolución *</label>
                        <input type="date" class="form-control" name="fechaDevolucion" ng-model="" required>
                        <p ng-show="busquedaAutoForm.fechaDevolucion.$invalid && busquedaAutoForm.$submitted" class="help-block">Debe indicar la fecha de devolución del vehículo.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div>
                        <button type="submit" class="btn btn-info btn-form" ng-click=""> Buscar </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="resultado-container">
    <h4 class="bold" style="margin-bottom: 30px;"> Resultados (2{{contadorResultado}})</h4>
    <div class="row resultado-single">
        <div class="thumbnail col-xs-3">
             <img class="img-rounded" src="https://seguroweb.com.ar/webroot/images/productos/auto.jpg" alt="Image not found">
        </div>
        <div class="col-xs-6">
            <h4 class="bold">Chevrolet 242</h4>
            <div>Agencia "Tu Chevrolet"</div>
            <p class="disponibilidad-auto"> Quedan disponibles 2 de 100 modelos</p>

        </div>
        <div class="col-xs-3 align-center">
            <div class="precio-container">
                <div>Por sólo</div>
                <div class="precio-font">$1000</div>
                <div> por día</div>
            </div>
            <button class="btn btn-info btn-form" ng-click="" ng-show="true"> Agregar al Carrito </button>
            <button class="btn btn-danger btn-form" ng-click="" ng-show="false"> Quitar del Carrito </button>
        </div>
    </div>
    <hr/>
    <div class="row resultado-single">
        <div class="thumbnail col-xs-3">
             <img class="img-rounded" src="http://pcibizarentacar.com/wp-content/uploads/car-rental-gallery/1481022472_maxresdefault.jpg" alt="Image not found">
        </div>
        <div class="col-xs-6">
            <h4 class="bold">Peugeot 307</h4>
            <div>Agencia "Tu Chevrolet"</div>
            <p class="disponibilidad-auto"> Quedan disponibles 5 de 10 modelos</p>

        </div>
        <div class="col-xs-3 align-center">
            <div class="precio-container">
                <div>Por sólo</div>
                <div class="precio-font">$800</div>
                <div> por día</div>
            </div>
            <button class="btn btn-info btn-form" ng-click="" ng-show="false"> Agregar al Carrito </button>
            <button class="btn btn-danger btn-form" ng-click="" ng-show="true"> Quitar del Carrito </button>
        </div>
    </div>
    <hr/>
    <div class="row resultado-single">
        <div class="thumbnail col-xs-3">
             <img class="img-rounded" src="http://pcibizarentacar.com/wp-content/uploads/car-rental-gallery/1481022472_maxresdefault.jpg" alt="Image not found">
        </div>
        <div class="col-xs-6">
            <h4 class="bold">Peugeot 308</h4>
            <div>Agencia "Tu Chevrolet"</div>
            <p class="disponibilidad-auto"> Quedan disponibles 5 de 10 modelos</p>

        </div>
        <div class="col-xs-3 align-center">
            <div class="precio-container">
                <div>Por sólo</div>
                <div class="precio-font">$800</div>
                <div> por día</div>
            </div>
            <button class="btn btn-info btn-form" ng-click="agregarAlCarrito()" ng-show="false"> Agregar al Carrito </button>
            <button class="btn btn-danger btn-form" ng-click="quitarDelCarrito()" ng-show="true"> Quitar del Carrito </button>
        </div>
    </div>
</div>
