<h2 class="align-center"> Bienvenido a Viajes!</h2>
<h5 class="align-center"> Comienza a armar tu paquete hoy!</h5>
<div>
        <div>
        	<a href="#!/busquedaVuelo/1">
            	<button class="btn btn-warning btn-form"> Buscar vuelos</button>
            </a>
            <a href="#!/busquedaHotel/1">
            	<button class="btn btn-default btn-form"> Buscar hoteles </button>
            </a>
            <a href="#!/busquedaAuto/1">	
            	<button class="btn btn-default btn-form"> Buscar autos </button>
            </a>
        </div>
</div>